$color-background: #0f0f0f;
$color-secondary: #d50e38;
$color-text: #ffffff;

$spacing-xs: 1rem;
$spacing-s: 1.5rem;
$spacing-m: 52px;
$spacing-l: 64px;
$spacing-xl: 96px;
$spacing-xxl: 142px;

$font-size-s: 18px; //18px on 1080p
$font-size-m: 22px;
$font-size-l: 32px;

// $mobile-font-size-s: 14px;
// $mobile-font-size-m: 24px;

$font-normal: "Cormorant", Arial, Helvetica, sans-serif;
$font-bold: "Junicode", Arial, Helvetica, sans-serif;