@use "../styles/variables";

.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}

progress {
  width: 200px;
  height: 2px;
  border: none;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #222;
}

progress::-webkit-progress-value {
  background-color: white;
}

progress::-moz-progress-bar {
  background-color: white;
}

.fadeInElement {
  animation: fadeIn .5s ease-in-out forwards;
}

.fadeOutElement {
  animation: fadeOut .5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}