---

---

<main>
  <p>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
      cupiditate ex asperiores quae laborum minima, dolore reiciendis officiis
      velit maxime sapiente assumenda debitis delectus fugiat voluptate earum
      nesciunt corporis.
    </span>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
      cupiditate sint. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Veritatis ratione nobis illo ex quam repudiandae ipsam possimus beatae.
      Repellendus veritatis quibusdam incidunt. Perspiciatis nihil non amet,
      facilis at expedita. Saepe.
    </span>
  </p>
  <button>Welcome to our agency</button>
</main>

<style lang="scss">
  @use "../styles/variables";
  main {
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    padding-top: variables.$spacing-m;
  }
</style>
