$color-background: #0C0C0C;
$color-secondary: #d50e38;
$color-text: #FFFFFF;

$spacing-s: 1rem;
$spacing-m: 1.5rem;

$font-size-s: 18px;
$font-size-m: 22px;

$mobile-font-size-s: 14px;
$mobile-font-size-m: 24px;

$font-normal: "Junicode";